CIS353GroupB/.vs/CIS353GroupB/DesignTimeBuild/.dtbcache.v2
CIS353GroupB/.vs/CIS353GroupB/v16/.suo
CIS353GroupB/CIS353GroupB/obj/CIS353GroupB.csproj.nuget.dgspec.json
CIS353GroupB/CIS353GroupB/obj/CIS353GroupB.csproj.nuget.g.props
CIS353GroupB/CIS353GroupB/obj/project.assets.json
CIS353GroupB/CIS353GroupB/obj/Debug/netcoreapp3.1/CIS353GroupB.assets.cache
CIS353GroupB/CIS353GroupB/obj/Debug/netcoreapp3.1/CIS353GroupB.csprojAssemblyReference.cache
CIS353GroupB/CIS353GroupB/obj/project.nuget.cache
